#title{
  text-align: center;
  color: yellow;
  font-size: 300%;
  font-weight: bold;
  letter-spacing: 15px;
}

.container{
        display: flex;
        flex-wrap: wrap;
}

.container div{
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 22px;
        margin-bottom: 22px;
}
