#title{
  text-align: center;
  color: yellow;
  font-size: 300%;
  font-weight: bold;
  letter-spacing: 15px;
}

.container{
        display: flex;
        flex-wrap: wrap;
}

.container div{
        margin-right: 8px;
        margin-left: 8px;
        margin-top: 22px;
        margin-bottom: 22px;
}

#searchbox{
	border: solid 2px black;
	padding: 5px;
	border-radius: 15px;
	background-image: url("../img/search.svg");
	background-position: center right;
	background-repeat: no-repeat;
	background-origin: content-box;
	width: 300px;
}

.nosearch{
    font-size: 200%;
    color: yellow;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}