.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link {
  text-decoration: none;
}
.navigation-links-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}














@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.apps-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(162, 244, 139) 100.00%);
}
.apps-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.apps-link {
  display: contents;
}
.apps-image {
  height: 2rem;
  object-fit: cover;
  text-decoration: none;
}
.apps-nav {
  display: flex;
}
.apps-burger-menu {
  display: none;
}
.apps-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.apps-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.apps-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.apps-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.apps-image1 {
  height: 2rem;
}
.apps-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.apps-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.apps-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.apps-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.apps-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.apps-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.apps-image2 {
  width: 25rem;
  object-fit: cover;
}
.apps-container2 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.apps-text {
  font-size: 3rem;
}
.apps-text01 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.apps-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.apps-link01 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.apps-link01:hover {
  transform: scale(1.02);
}
.apps-link02 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.apps-link02:hover {
  transform: scale(1.02);
}
.apps-text02 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.apps-hero1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(180deg, rgb(189, 195, 199) 0.00%,rgb(71, 206, 29) 100.00%);
}
.apps-image3 {
  width: 25rem;
  object-fit: cover;
}
.apps-container3 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.apps-text08 {
  font-size: 3rem;
}
.apps-text09 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.apps-btn-group1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.apps-link03 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.apps-link03:hover {
  transform: scale(1.02);
}
.apps-link04 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.apps-link04:hover {
  transform: scale(1.02);
}
.apps-text15 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.apps-hero2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(115, 204, 225) 100.00%);
}
.apps-image4 {
  width: 25rem;
  object-fit: cover;
}
.apps-container4 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.apps-text21 {
  font-size: 3rem;
}
.apps-text22 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.apps-btn-group2 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.apps-link05 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.apps-link05:hover {
  transform: scale(1.02);
}
.apps-link06 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.apps-link06:hover {
  transform: scale(1.02);
}
.apps-text23 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.apps-hero3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(115, 204, 225) 100.00%);
}
.apps-image5 {
  width: 25rem;
  object-fit: cover;
}
.apps-container5 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.apps-text29 {
  font-size: 3rem;
}
.apps-text30 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.apps-btn-group3 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.apps-link07 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.apps-link07:hover {
  transform: scale(1.02);
}
.apps-link08 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.apps-link08:hover {
  transform: scale(1.02);
}
.apps-text31 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.apps-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.apps-link09 {
  display: contents;
}
.apps-image6 {
  height: 2rem;
  object-fit: cover;
  text-decoration: none;
}
.apps-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.apps-link10 {
  display: contents;
}
.apps-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
@media(max-width: 991px) {
  .apps-icon {
    display: flex;
  }
  .apps-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .apps-image2 {
    order: 2;
  }
  .apps-container2 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .apps-text {
    text-align: center;
  }
  .apps-text01 {
    text-align: center;
  }
  .apps-text02 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .apps-hero1 {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .apps-image3 {
    order: 2;
  }
  .apps-container3 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .apps-text08 {
    text-align: center;
  }
  .apps-text09 {
    text-align: center;
  }
  .apps-text10 {
    text-align: center;
  }
  .apps-text15 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .apps-hero2 {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .apps-image4 {
    order: 2;
  }
  .apps-container4 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .apps-text21 {
    text-align: center;
  }
  .apps-text22 {
    text-align: center;
  }
  .apps-text23 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .apps-hero3 {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .apps-image5 {
    order: 2;
  }
  .apps-container5 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .apps-text29 {
    text-align: center;
  }
  .apps-text30 {
    text-align: center;
  }
  .apps-text31 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .apps-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .apps-nav {
    display: none;
  }
  .apps-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .apps-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .apps-image2 {
    width: 80%;
  }
  .apps-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .apps-image3 {
    width: 80%;
  }
  .apps-hero2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .apps-image4 {
    width: 80%;
  }
  .apps-hero3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .apps-image5 {
    width: 80%;
  }
  .apps-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .apps-text37 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .apps-header {
    padding: var(--dl-space-space-unit);
  }
  .apps-mobile-menu {
    padding: 16px;
  }
  .apps-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .apps-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .apps-btn-group {
    flex-direction: column;
  }
  .apps-link02 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .apps-text02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .apps-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .apps-container3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .apps-btn-group1 {
    flex-direction: column;
  }
  .apps-link04 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .apps-text15 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .apps-hero2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .apps-container4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .apps-btn-group2 {
    flex-direction: column;
  }
  .apps-link06 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .apps-text23 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .apps-hero3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .apps-container5 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .apps-btn-group3 {
    flex-direction: column;
  }
  .apps-link08 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .apps-text31 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .apps-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .apps-image6 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .apps-text37 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
