.navigation-links-wrapper {
  display: contents;
}
.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link1 {
  text-decoration: none;
}
.navigation-links-link2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}














@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-wrapper-z5fh {
  display: contents;
}
.navigation-links-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link5 {
  text-decoration: none;
}
.navigation-links-link6 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link7 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link8 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}














@media(max-width: 767px) {
  .navigation-links-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link5 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link8 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.features10-wrapper {
  display: contents;
}
.features10-layout300 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.features10-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.features10-max-width {
  gap: var(--dl-space-space-threeunits);
  align-items: center;
}
.features10-section-title {
  align-items: center;
}
.features10-content {
  align-self: stretch;
  align-items: center;
}
.features10-feature11 {
  align-items: flex-start;
}
.features10-feature1-image1 {
  text-decoration: none;
}
.features10-feature12 {
  align-items: flex-start;
}
.features10-feature1-image2 {
  text-decoration: none;
}
.features10-feature13 {
  align-items: flex-start;
}
.features10-feature1-image3 {
  text-decoration: none;
}
.features10-feature21 {
  align-items: flex-start;
}
.features10-feature2-image1 {
  text-decoration: none;
}
.features10-feature22 {
  align-items: flex-start;
}
.features10-feature2-image2 {
  text-decoration: none;
}
.features10-feature23 {
  align-items: flex-start;
}
.features10-feature2-image3 {
  text-decoration: none;
}
.features10-feature31 {
  align-items: flex-start;
}
.features10-feature3-image1 {
  text-decoration: none;
}
.features10-feature32 {
  align-items: flex-start;
}
.features10-feature3-image2 {
  text-decoration: none;
}
.features10-feature33 {
  align-items: flex-start;
}
.features10-feature3-image3 {
  text-decoration: none;
}
.features10-actions {
  align-items: flex-start;
}
.features10-button {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
}
.features10-action1 {
  text-decoration: none;
}
.apps-fragment10 {
  display: contents;
}
.apps-text10 {
  color: var(--dl-color-gray-black);
  display: inline-block;
}
.apps-fragment11 {
  display: contents;
}
.apps-text13 {
  display: inline-block;
}
.apps-fragment12 {
  display: contents;
}
.apps-text14 {
  display: inline-block;
}
.apps-fragment13 {
  display: contents;
}
.apps-text15 {
  display: inline-block;
}
.apps-fragment14 {
  display: contents;
}
.apps-text16 {
  display: inline-block;
}
.apps-fragment15 {
  display: contents;
}
.apps-text21 {
  display: inline-block;
}
.apps-fragment16 {
  display: contents;
}
.apps-text22 {
  display: inline-block;
}
.apps-fragment17 {
  display: contents;
}
.apps-text23 {
  display: inline-block;
}
.apps-fragment18 {
  display: contents;
}
.apps-text24 {
  display: inline-block;
}
.apps-fragment19 {
  display: contents;
}
.apps-text25 {
  display: inline-block;
}
.apps-fragment20 {
  display: contents;
}
.apps-text26 {
  display: inline-block;
}
.apps-fragment21 {
  display: contents;
}
.apps-text31 {
  display: inline-block;
}
.apps-fragment22 {
  display: contents;
}
.apps-text32 {
  display: inline-block;
}
.apps-fragment23 {
  display: contents;
}
.apps-text33 {
  display: inline-block;
}
.apps-fragment24 {
  display: contents;
}
.apps-text34 {
  display: inline-block;
}
.apps-fragment25 {
  display: contents;
}
.apps-text39 {
  display: inline-block;
}
.apps-fragment26 {
  display: contents;
}
.apps-text40 {
  display: inline-block;
}
.apps-fragment27 {
  display: contents;
}
.apps-text45 {
  display: inline-block;
}
.apps-fragment28 {
  display: contents;
}
.apps-text46 {
  display: inline-block;
}
.apps-fragment29 {
  display: contents;
}
.apps-text49 {
  display: inline-block;
}
.apps-fragment30 {
  display: contents;
}
.apps-text50 {
  display: inline-block;
}
@media(max-width: 991px) {
  .features10-section-title {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .features10-section-title {
    width: auto;
  }
  .features10-feature21 {
    width: auto;
  }
  .features10-feature22 {
    width: auto;
  }
  .features10-feature23 {
    width: auto;
  }
  .features10-feature31 {
    width: auto;
  }
  .features10-feature32 {
    width: auto;
  }
  .features10-feature33 {
    width: auto;
  }
  .apps-text15 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .features10-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features10-actions {
    width: 100%;
    flex-direction: column;
  }
  .features10-button {
    width: 100%;
  }
}

.apps-container1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(162, 244, 139) 100.00%);
}
.apps-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.apps-link1 {
  display: contents;
}
.apps-image1 {
  height: 2rem;
  object-fit: cover;
  text-decoration: none;
}
.apps-nav1 {
  display: flex;
}
.apps-burger-menu {
  display: none;
}
.apps-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.apps-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.apps-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.apps-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.apps-image2 {
  height: 2rem;
}
.apps-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.apps-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.apps-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.apps-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.apps-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.apps-fragment10 {
  display: contents;
}
.apps-text10 {
  color: var(--dl-color-gray-black);
  display: inline-block;
}
.apps-fragment11 {
  display: contents;
}
.apps-text13 {
  display: inline-block;
}
.apps-fragment12 {
  display: contents;
}
.apps-text14 {
  display: inline-block;
}
.apps-fragment13 {
  display: contents;
}
.apps-text15 {
  display: inline-block;
}
.apps-fragment14 {
  display: contents;
}
.apps-text16 {
  display: inline-block;
}
.apps-fragment15 {
  display: contents;
}
.apps-text21 {
  display: inline-block;
}
.apps-fragment16 {
  display: contents;
}
.apps-text22 {
  display: inline-block;
}
.apps-fragment17 {
  display: contents;
}
.apps-text23 {
  display: inline-block;
}
.apps-fragment18 {
  display: contents;
}
.apps-text24 {
  display: inline-block;
}
.apps-fragment19 {
  display: contents;
}
.apps-text25 {
  display: inline-block;
}
.apps-fragment20 {
  display: contents;
}
.apps-text26 {
  display: inline-block;
}
.apps-fragment21 {
  display: contents;
}
.apps-text31 {
  display: inline-block;
}
.apps-fragment22 {
  display: contents;
}
.apps-text32 {
  display: inline-block;
}
.apps-fragment23 {
  display: contents;
}
.apps-text33 {
  display: inline-block;
}
.apps-fragment24 {
  display: contents;
}
.apps-text34 {
  display: inline-block;
}
.apps-fragment25 {
  display: contents;
}
.apps-text39 {
  display: inline-block;
}
.apps-fragment26 {
  display: contents;
}
.apps-text40 {
  display: inline-block;
}
.apps-fragment27 {
  display: contents;
}
.apps-text45 {
  display: inline-block;
}
.apps-fragment28 {
  display: contents;
}
.apps-text46 {
  display: inline-block;
}
.apps-fragment29 {
  display: contents;
}
.apps-text49 {
  display: inline-block;
}
.apps-fragment30 {
  display: contents;
}
.apps-text50 {
  display: inline-block;
}
.apps-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.apps-link2 {
  display: contents;
}
.apps-image3 {
  height: 2rem;
  object-fit: cover;
  text-decoration: none;
}
.apps-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.apps-link3 {
  display: contents;
}
.apps-icon20 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
@media(max-width: 991px) {
  .apps-icon10 {
    display: flex;
  }
}
@media(max-width: 767px) {
  .apps-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .apps-nav1 {
    display: none;
  }
  .apps-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .apps-text15 {
    text-align: center;
  }
  .apps-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .apps-text51 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .apps-header {
    padding: var(--dl-space-space-unit);
  }
  .apps-mobile-menu {
    padding: 16px;
  }
  .apps-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .apps-image3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .apps-text51 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
