.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link {
  text-decoration: none;
}
.navigation-links-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}














@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.social-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(162, 244, 139) 100.00%);
}
.social-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.social-link {
  display: contents;
}
.social-image {
  height: 2rem;
  object-fit: cover;
  text-decoration: none;
}
.social-nav {
  display: flex;
}
.social-burger-menu {
  display: none;
}
.social-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.social-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.social-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.social-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.social-image1 {
  height: 2rem;
}
.social-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.social-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.social-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.social-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.social-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.social-link1 {
  display: contents;
}
.social-image2 {
  height: 2rem;
  object-fit: cover;
  text-decoration: none;
}
.social-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.social-link2 {
  display: contents;
}
.social-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
@media(max-width: 991px) {
  .social-icon {
    display: flex;
  }
}
@media(max-width: 767px) {
  .social-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .social-nav {
    display: none;
  }
  .social-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .social-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .social-header {
    padding: var(--dl-space-space-unit);
  }
  .social-mobile-menu {
    padding: 16px;
  }
  .social-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .social-image2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .social-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
