body{
  background-image: url("img/background.jpg");
/*  background-attachment: fixed; */
}

.nav li{
   display: inline;
   list-style: none;
   margin-right: 30px;
   font-weight: bold;
}

.nav {
  padding-top: 5px;
}
      
.nav a{
   text-decoration: none;
   color: black;
}
      
#navt {
   width: 100%;
   background: yellow;
}
      
#logo{
   padding-left: 20px;
}

.projects{
  overflow-x: auto;
  overflow-y: hidden;
}

.project{
  width: 300px;
  height: 400px;
  border: solid 2px black;
  border-radius: 24px;
  background: linear-gradient(yellow, red);
}

.projecttitle{
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  color: red;
  font-family: "Langar";
}

.projecttitle a{
  color: red;
  text-decoration: none;
}

#projtitle{
  text-align: center;
  color: yellow;
  font-size: 300%;
  font-weight: bold;
  letter-spacing: 15px;
}

#sociallinks{
  color: lightgreen;
  font-size: 300%;
  font-weight: bold;
}

.projectdesc{
  padding-left: 20px;
  padding-top: 2px;
  font-size: 110%;
  font-family: Oswald;
}

.projectimg{
  padding-left: 50px;
  width: 200px;
  height: 200px;
}

.social-item{
  background: green;
  opacity: 0.6;
  width: 280px;
  height: 30px;
  font-size: 140%;
  text-align: center;
  border: solid black 2px;
  border-radius: 20px;
}

#social a{
  text-decoration: none;
  color: yellow;
}

#programming-quiz{
  font-size: 290%;
  font-weight: bold;
  color: orange;
  font-family: "Russo One";
}

#pq-par{
  font-size: 190%;
  background: white;
  opacity: 0.6;
}

#pq-b{
  width: 250px;
  height: 50px;
  background: linear-gradient(45deg, pink, yellow);
  border-radius: 20px;
  text-align: center;
  padding-top: 30px;
  font-size: 150%;
  font-family: "Russo One";
}

#pq-section a{
  text-decoration: none;
  color: green;
}

#yt-channel{
  font-size: 290%;
  font-weight: bold;
  font-family: "Russo One";
  color: white;
}