body{
  background-image: url("img/background.png");
  background-attachment: fixed;
}

.projects{
  overflow-x: auto;
  overflow-y: hidden;
}

a{
  color: red;
  text-decoration: none;
}

.project{
  width: 300px;
  height: 400px;
  border: solid 2px black;
  border-radius: 24px;
  background: linear-gradient(yellow, red);
}

.projecttitle{
  text-align: center;
  font-size: 170%;
  font-weight: bold;
  color: red;
}

#projtitle{
  text-align: center;
  color: yellow;
  font-size: 300%;
  font-weight: bold;
  letter-spacing: 15px;
}

#sociallinks{
  text-align: center;
  color: lightgreen;
  font-size: 300%;
  font-weight: bold;
}

.projectdesc{
  padding-left: 20px;
  padding-top: 8px;
  font-size: 85%;
}

.projectimg{
  padding-left: 50px;
  width: 200px;
  height: 200px;
}