body{
  background-image: url("img/background.png");
}

.project{
  width: 300px;
  height: 400px;
  border: solid 2px black;
  border-radius: 24px;
  background: linear-gradient(yellow, red);
}

.projecttitle{
  text-align: center;
  font-size: 220%;
  font-weight: bold;
  color: red;
}

.projectdesc{
  padding-left: 20px;
  padding-top: 8px;
  font-size: 110%;
}

.projectimg{
  padding-left: 50px;
  width: 200px;
  height: 200px;
}