.features10-layout300 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.features10-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.features10-max-width {
  gap: var(--dl-space-space-threeunits);
  align-items: center;
}
.features10-section-title {
  align-items: center;
}
.features10-content {
  align-self: stretch;
  align-items: center;
}
.features10-feature11 {
  align-items: flex-start;
}
.features10-feature1-image1 {
  text-decoration: none;
}
.features10-feature12 {
  align-items: flex-start;
}
.features10-feature1-image2 {
  text-decoration: none;
}
.features10-feature13 {
  align-items: flex-start;
}
.features10-feature1-image3 {
  text-decoration: none;
}
.features10-feature21 {
  align-items: flex-start;
}
.features10-feature2-image1 {
  text-decoration: none;
}
.features10-feature22 {
  align-items: flex-start;
}
.features10-feature2-image2 {
  text-decoration: none;
}
.features10-feature23 {
  align-items: flex-start;
}
.features10-feature2-image3 {
  text-decoration: none;
}
.features10-feature31 {
  align-items: flex-start;
}
.features10-feature3-image1 {
  text-decoration: none;
}
.features10-feature32 {
  align-items: flex-start;
}
.features10-feature3-image2 {
  text-decoration: none;
}
.features10-feature33 {
  align-items: flex-start;
}
.features10-feature3-image3 {
  text-decoration: none;
}
.features10-actions {
  align-items: flex-start;
}
.features10-button {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
}
.features10-action1 {
  text-decoration: none;
}
.features10-fragment10 {
  display: contents;
}
.features10-text12 {
  display: inline-block;
  text-align: center;
}
.features10-fragment11 {
  display: contents;
}
.features10-text13 {
  display: inline-block;
}
.features10-fragment12 {
  display: contents;
}
.features10-text14 {
  display: inline-block;
}
.features10-fragment13 {
  display: contents;
}
.features10-text15 {
  display: inline-block;
}
.features10-fragment14 {
  display: contents;
}
.features10-text16 {
  display: inline-block;
}
.features10-fragment15 {
  display: contents;
}
.features10-text17 {
  display: inline-block;
}
.features10-fragment16 {
  display: contents;
}
.features10-text18 {
  display: inline-block;
}
.features10-fragment17 {
  display: contents;
}
.features10-text19 {
  display: inline-block;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.features10-fragment18 {
  display: contents;
}
.features10-text20 {
  display: inline-block;
  text-align: center;
}
.features10-fragment19 {
  display: contents;
}
.features10-text21 {
  display: inline-block;
  text-align: center;
}
.features10-fragment20 {
  display: contents;
}
.features10-text22 {
  display: inline-block;
}
.features10-fragment21 {
  display: contents;
}
.features10-text23 {
  display: inline-block;
}
.features10-fragment22 {
  display: contents;
}
.features10-text24 {
  display: inline-block;
}
.features10-fragment23 {
  display: contents;
}
.features10-text25 {
  display: inline-block;
}
.features10-fragment24 {
  display: contents;
}
.features10-text26 {
  display: inline-block;
}
.features10-fragment25 {
  display: contents;
}
.features10-text27 {
  display: inline-block;
  text-align: center;
}
.features10-fragment26 {
  display: contents;
}
.features10-text28 {
  display: inline-block;
}
.features10-fragment27 {
  display: contents;
}
.features10-text29 {
  display: inline-block;
}
.features10-fragment28 {
  display: contents;
}
.features10-text30 {
  display: inline-block;
}
.features10-fragment29 {
  display: contents;
}
.features10-text31 {
  display: inline-block;
}
.features10-fragment30 {
  display: contents;
}
.features10-text32 {
  display: inline-block;
}
@media(max-width: 991px) {
  .features10-section-title {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .features10-section-title {
    width: auto;
  }
  .features10-feature21 {
    width: auto;
  }
  .features10-feature22 {
    width: auto;
  }
  .features10-feature23 {
    width: auto;
  }
  .features10-feature31 {
    width: auto;
  }
  .features10-feature32 {
    width: auto;
  }
  .features10-feature33 {
    width: auto;
  }
  .features10-text15 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .features10-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features10-actions {
    width: 100%;
    flex-direction: column;
  }
  .features10-button {
    width: 100%;
  }
}
